<table class="table table-striped" id='history_table'>
  <caption>Your weight scale history.</caption>
  <thead>
    <tr>
     <th width="35%">Date</th>
     <th>Weight (KG)</th>
     <th width="35%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="track in tracks">
      <td>{{track.date | date:"dd/MM/yyyy"}}</td>
      <td>{{track.weight}}</td>
      <td>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-trash"></span>
      </td>
    </tr>
  </tbody>
</table>

<div ng-if="loadingIsDone">
<pagination boundary-links="true" total-items="totalItems" ng-model="page.current" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTrackModal">
  New Track
</button>
